.new{
    width: 100%;
    display: flex;

    .newContainer{
        flex:6;

        .top, .bottom{
            -webkit-box-shadow:var(--web-kit);
            box-shadow: var(--box-shadow);
            padding: 10px;
            margin:20px;
            display: flex;

            .title{
                color:var(--link-hover-color);
                font-size: 25px; color:var(--link-hover-color);
            }
            .left{
                flex:1;
                text-align: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .right{
                flex:2;
            }
        }
    }
}