@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
  --primary-color:#0c2461;
  --text-color:gray;
  --green-color:#079992;
  --red-color:#eb2f06;

  --bg-01:#f8c291;
  --bg-02:#82ccdd;
  --bg-03:#b8e994;
  --bg-04:#6a89cc;

  --border:rgb(230, 227, 227);
  --bg-light: #999;

  --link-hover-color:#F79F1F;

  --bg-white:whitesmoke;
  --bg-black:#333;
  --bg-blue:#0c2461;

  --web-kit: 2px 4px 10px 1px rgba(0,0,0,0.47);
  --box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);



}
*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style:none;
}
a{
  text-decoration:none;
}