.datatableProduct{
    height: 100vh;
    padding: 20px;
    

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }
    .cellWithStock{
        padding: 5px;

        &.skladem{
            color:green;
        }
        &.u{
            color:orange;
        }
        &.vyprodáno{
            color:red;
        }
    }
    .cellWithPayment {
        padding: 5px;

        &.bankovní{
            color:orange;
        }
        &.dobírka{
            color:red;
        }
        &.online{
            color:green;
        }
        &.paypal{
            color:blue;
        }
    }
    .cellWithStatus{
        padding: 5px;
        &.zpracovává{
            color:orange;

        }
        &.storno{
            color:red;
        }
        &.vyřízeno{
            color:green;
        }
        &.odesláno{
            color:blue;
        }
    }
    
    .cellAction{
        display: flex;
        align-items: center;
        gap:20px;

        .viewButton .icon{
            color: var(--view-button);
            height: 18px;
            cursor: pointer;
        }

        .editButton .icon{
            color: var(--edit-button);
            height: 18px;
            cursor: pointer;
            
        }
        .deleteButton .icon{
            color: red;
            height: 18px;
            cursor: pointer;
            
        }
    }
}